* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 body{
  font-family: Arial, sans-serif;
  background-color: rgb(206, 199, 199);
  color: black;
 }


.navbar {
  background-color: #191a1b;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:1.7rem;
  position: sticky;
  top: 0;
}


.navbar .logo {
  color:white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left:20px;

}

.nav-links {
  display:flex;
  gap:30px;
  margin-left:20px;
}

.navbar a {
  color:white;
  text-decoration: none;
  font-size: 1.5rem;
}


.navbar .active-link {
  margin: 4-8px;
  box-shadow: 0 0 7px rgba(252, 253, 254, 0.8);
  display:inline-block;
}